# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# flow
flow-typed

# IDE specific files
.idea
*.iml
.vscode

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
