.piece {
  text-align: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  position: absolute;

  &.white {
    background-color: white;
    color: black;
  }

  &.black {
    background-color: black;
    color: white;
  }
}
.piece-image {
  width: 90px;
  height: 90px;
  pointer-events: none;
}
